{% extends 'body.html' %}
{% load static %}
{% block content %}

<div class="content-header">
    <div class="contenedor mb-5">
        <div class="row">
            <div class="col-12">
                <div class="welcome-section p-4 rounded">
                    <div class="d-flex align-items-center">
                        <div class="welcome-icon me-4">
                            <i class="fas fa-upload fa-3x text-primary"></i>
                        </div>
                        <div class="welcome-text">
                            <h1 class="ml-4"> Cargar Archivo Excel </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="card card-custom">

        <div class="card-header text-white">
            <h3 class="card-title mx-auto">Subir nuevo archivo</h3>
        </div>

        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data" class="mb-4">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="archivo_excel" class="form-label">Selecciona archivo Excel:</label>
                    <input type="file" name="archivo_excel" id="archivo_excel" class="form-control" accept=".xlsx" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-agregar">
                        <i class="fas fa-cloud-upload-alt me-1"></i> Subir archivo
                    </button>
                </div>
            </form>

            <hr>

            <h5 class="text-center">Últimos archivos cargados</h5>
            <ul class="list-group mt-3">
                {% for a in archivos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>{{ a.nombre_archivo }}</strong><br>
                            <small>Subido por: {{ a.id_user.nombre_user }} {{ a.id_user.apellido_user }}</small>
                        </div>
                        <small class="text-muted">{{ a.fecha_subida|date:"d-m-Y H:i" }}</small>
                    </li>
                {% empty %}
                    <li class="list-group-item text-center">No hay archivos registrados.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
